
LineBreak/bin/Debug/netcoreapp3.1/LineBreak.deps.json
LineBreak/bin/Debug/netcoreapp3.1/LineBreak.dll
LineBreak/bin/Debug/netcoreapp3.1/LineBreak.exe
LineBreak/bin/Debug/netcoreapp3.1/LineBreak.pdb
LineBreak/bin/Debug/netcoreapp3.1/LineBreak.runtimeconfig.dev.json
LineBreak/bin/Debug/netcoreapp3.1/LineBreak.runtimeconfig.json
LineBreak/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.AssemblyInfo.cs
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.AssemblyInfoInputs.cache
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.assets.cache
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.csproj.CoreCompileInputs.cache
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.csproj.FileListAbsolute.txt
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.csprojAssemblyReference.cache
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.dll
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.exe
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.genruntimeconfig.cache
LineBreak/obj/Debug/netcoreapp3.1/LineBreak.pdb
LineBreak/obj/LineBreak.csproj.nuget.dgspec.json
LineBreak/obj/LineBreak.csproj.nuget.g.props
LineBreak/obj/LineBreak.csproj.nuget.g.targets
LineBreak/obj/project.assets.json
LineBreak/obj/project.nuget.cache
